<div class="con">
    <app-header></app-header>
    <app-footer></app-footer>
    <div class="pathchooser">
        <div class="button" [ngClass]="{'actived' : G==true }" (click)="setActiveG()">Graphic</div>
        <div class="button" [ngClass]="{'actived' : D==true }" (click)="setActiveD()">Design</div>
        <div class="button" [ngClass]="{'actived' : W==true }" (click)="setActiveW()">WebApp</div>
    </div>
    <div class="samples" >
           
            
            <div class="titles" *ngIf="D==true">
                <div class="title" *ngFor="let sample of designList" >
                    <img [src]="sample.images[0].image" alt="" width="50%" height="100%">
                </div>

            </div>
            <div class="titles" *ngIf="W==true">
                <div class="title" *ngFor="let sample of webAppList" >
                    {{sample.title}}
                </div>

            </div>
            <div class="titles" *ngIf="G==true">
                <div class="title" *ngFor="let sample of graphicList" >
                    <img [src]="sample.images[0].image" alt="" width="50%" height="100%">
                </div>

            </div>
    </div>
</div>