<div class="con" >
  <app-header></app-header>
  <app-footer></app-footer>
  <div class="pathchooser">
    <div
      class="button"
      [ngClass]="{ actived: G == true }"
      (click)="setActiveG()"
    >
      Graphic
    </div>
    <div
      class="button"
      [ngClass]="{ actived: D == true }"
      (click)="setActiveD()"
    >
      Design
    </div>
    <div
      class="button"
      [ngClass]="{ actived: W == true }"
      (click)="setActiveW()"
    >
      WebApp
    </div>
  </div>
 
  <div class="sliderContainer">
    <div
      class="Slider"
      *ngFor="let card of designList; let i = index"
      [ngClass]="{
        selected: i === selectedIndex,
        prev: i === selectedIndex - 1,
        next: i === selectedIndex + 1,
        hideLeft: i < selectedIndex - 1,
        Right: i === selectedIndex + 2,
        hideRight: i > selectedIndex + 2,
        Left: i === selectedIndex - 2,
        Sizechange: isExpanded && i === selectedIndex
      }"
      (panright)="showprev(i)"
      (panleft)="shownext(i)"
    >
      <div class="pics" style="width: 100%" *ngIf="!IsExpanded(i,'Sizechange')">
        <img [src]="card.images[0].image" width="100%" height="100%" />
      </div>
      <div class="pics" style="width: 100%" *ngIf="IsExpanded(i,'Sizechange')">
        <img
          [src]="card.images[selectedImageIndex].image"
          width="100%"
          height="100%"
        />
      </div>

      <div class="Describe" *ngIf="selectedIndex == i">
        <div>
          <span class="sampleTitle">
            {{ card.title }}
          </span>
        </div>
        <div>
          <button class="showFull" (click)="SizeChange()">
            <mat-icon> fullscreen </mat-icon>
          </button>
        </div>
      </div>
      <div class="Nums" *ngIf="isExpanded">
        <div *ngFor="let im of designList[i].images; let idx = index" style="width: 100%;" class="numContainer" (click)="changePix(idx)">
          <span >
            {{ idx + 1}}  
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
