.nav {
    width: 100%;
    position: absolute;

    a {
        font-size: 1rem;
        display: inline-block;
        position: relative;
        letter-spacing: 0.05rem;

        &::after {

            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: #fff;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;

        }

        &:hover::after {
            width: 100%;
            left: 0;

        }

        &:hover {
            cursor: pointer;
            color: #e4e4e4;

            transform: scale(1.02);
            transition-duration: 100ms;
        }
    }

    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    position: absolute;

    li {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 10vw;
        width: 50vw;
    }


}

.sliderContainer {
    width: 100vw;
    height: 100vh;
    background-color: #131502e9;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: z-index 250ms;

    .Slider {
        border: 0.1rem solid #98a70f;
        border-radius: 2rem;
        background-color: #0c0e01;
        position: absolute;
        width: 60rem;
        height: 60vh;
        z-index: 0;
        opacity: 0;
        transform: scale(0);
        transition: 500ms;
        display: flex;
        flex-direction: row;

        &.hideleft {
            z-index: 0;
            transform: translateX(-50%) scale(0);


        }

        &.prev {
            z-index: 1;

            opacity: 0.7;
            transform: translateX(-25%) scale(0.8);

        }

        &.selected {
            z-index: 2;

            opacity: 1;
            transform: translateX(0%) scale(1);
            cursor: grab;

        }

        &.next {
            z-index: 1;

            opacity: 0.7;
            transform: translateX(25%) scale(0.8);

        }

        &.hideRight {

            transform: translateX(50%) scale(0);


        }
    }

}

.card {
    background-color: #131502e9;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

}

.butt {
    position: absolute;
    color: rgb(162, 183, 115);
    border-radius: 1rem;
    top: 2vh;
    left: 80vw;
    width: 10vw;
    height: 5vh;
    text-align: center;
    padding: 0.8vh;
    border: 0.05rem solid #98a70f;
    transition: 500ms;

    &:hover {
        transform: scale(1.1);
        background-color: #3b4304;
        color: #cbcbcb;

        cursor: pointer;
    }

}

.pics {
    width: 50%;
    height: 100%;


    img {

        filter: sepia(80%);
        box-shadow: inset rgba(60, 70, 85, 0.5) 0px 0px 40px 0px, inset rgba(60, 70, 85, 0.5) 0px 0px 40px 0px, inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;

    }

}

.texts {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;

}