<div class="footer">
    <div class="circ">
    </div>
    <div class="line">
    </div>
    <a routerLink="/about" #info (click)="SetAbout()"  class="links" matTooltip="about us">
        <svg width="45" height="45" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" id="infoIcon">
            <rect width="58" height="58" fill="url(#pattern0_321_137)" />
            <defs>
                <pattern id="pattern0_321_137" patternContentUnits="objectBoundingBox" width="1" height="1">
                    <use xlink:href="#image0_321_137" transform="scale(0.01)" />
                </pattern>
                <image id="image0_321_137" width="100" height="100"
                    xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAACXBIWXMAAAsTAAALEwEAmpwYAAACcUlEQVR4nO3cwU4TYRRA4W40Gol75A2EhKqJlTeQ+DLG9wAB7dOIG9m6E7cuULcawYVEzCETbpNuSjud/tOLc76kSUNmpn/vSdsZUuj1JEmSJEmSJElaGmAD2AOOgd9xO46fbZimvRC3gSHwj8kugDfVtoYpH+N9DP0PsA8MgHtxG0SI89jm0Chlgwxj0N+AzWu268c2lYOSa+r6Z8ZFvDI2Z9j+UbxSqn3W21llh3D1YV3Zr7HP29hnt+zqOgj4HMN9WmOfZ7HPp7Kr6yDgLIa7UmOfldjntOzqOgg4nSPI/djnV9nVdfsta1Bjny3fssoFeV33NHbsNHmn1Lo6C1gfO+3tz7D947HT3oftrLJjuLoKH10Y9qfE+B7b7rW7yu796uQwBn0egbbibGol7g/HfnXyDri17HV3IcpBvBVN8jcuJI3R8mfKbnXRF9coZ3F/x88MSZIkSXUBq8CTBd1WLdAA8GrKV3zqqo710ijzB/kZg/wCfGx4q45R+WGQ+YOM3Gk6RODu6GAGaRiktyAGSTZAfIXkGiAGyTVADLKYAQJrBkkA+MpkR3Mcz7OshkG2r4tikCQwSC4YJBcMkgsGyQWD5IJBcsEguWCQXDBILhgkFwySCwbJBYPkgkFywSC5YJBcMEguGCQXDJILBskFg+SCQXLBILlgkFwwSC4YpPWBvxj758cTzXHcaaqvrW6XeVb/75esRz7Mcdwjpjsp86xusLHhPGjxMddGD9rWY94YyxoMBsk1GAySazAYJNdgMEiuwWCQXIPBIO389e0sPO1tfmFYiheGdf/6tqAT4PlMLylJkiRJkiRJknqzuATcSVO0IyswPAAAAABJRU5ErkJggg==" />
            </defs>
        </svg>
    </a>
    <div class="line" id="line1">
    </div>
    <a routerLink="/services" class="links"  #goals matTooltip="services"> <img src="../../assets/img/se.png" style="width: 1.65vw; height: 3vh; color: #ffffff;" ></a>
    <div class="line"></div>
    <a routerLink="/collabrate" class="links" matTooltip="collabration"><img src="../assets/img/Handshake.png" style="width: 1.5vw; height: 1.5vw;" #collabrate ></a>
    <div class="line">
    </div>
    <div class="circ">
    </div>
</div>