<div class="con">
    <div class="cas">
        <div class="txt">
            CASCAVEL

        </div>

    </div>
    <div class="intro">
        <p>Beyond Expectation</p>
    </div>
    <div class="welcome">
        <p class="wlc"> 
            Welcome to
        </p>
        <br>
        <p class="to"> 
            CASCAVEL
        </p>
    </div>
    <div class="nav">
        <div>
            <li>
                <a>
                    CONTACT US
                </a>
                <img src="../assets/img/Cascavel 2.png" style="width: 4rem;">
                <a>
                    SAMPLES
                </a>
            </li>
        </div>
    </div>
  
</div>


<div>
    <router-outlet></router-outlet>
</div>