<div class="Con">
    <app-header></app-header>
    <app-footer></app-footer>
    <div class="sliderContainer">

        <div class="Slider" *ngFor="let card of list ;let i = index" [ngClass]="{
                'selected' : i === selectedIndex,
                'prev' : i === selectedIndex - 1 ,
                'next' : i === selectedIndex + 1 ,
                'hideLeft' : i < selectedIndex - 1 , 
                'hideRight' : i > selectedIndex + 1 
                
            }" (panright)="showprev(i)" (panleft)="shownext(i)">

            <div class="pics">

                <img src="{{card.image}}" width="100%" height="100%"
                    style="box-shadow: inset 10px 10px 10px 0 #0c0e01;-webkit-user-drag: none;-moz-user-drag:none;">

            </div>




        </div>
        <div class="texts" *ngFor="let card of list ;let i = index">
            <div *ngIf="selectedIndex===i" class="infos">
                <h1 style="color: rgb(232, 221, 221); font-family: Lexend; font-size: 3.5rem;">{{card.name}}</h1>
                <span
                    style="color: rgb(232, 221, 221); font-family: Lexend; font-size: 1.5rem; margin-top: -5vh; font-weight: lighter;">{{card.stack}}</span>
                <span style="color: rgb(232, 221, 221); font-family: Lexend; font-size: 1.rem;">we all love dicks in
                    cascavel and we want to suck black dicks every day we all love dicks in cascavel and we want to suck
                    black dicks every day we all love dicks in cascavel and we want to suck black dicks every day</span>

            </div>
        </div>
        <div class="buttons" *ngFor="let card of list ;let i = index">
            <div *ngIf="selectedIndex===i" style="display: flex; flex-direction: row; gap: 4vw; margin-left: 53vw; margin-top:42vh;z-index: 2;width: 35vw; padding: 1rem;"> 
                <button class="clicker" (click)="debug()">Website</button>
                <button class="clicker">Resume</button>
            </div>

        </div>


    </div>

</div>