.Con {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: url(../../assets/wllp1.png);
    background-size: 100% 100%;
}
.sliderContainer {
    margin-top: 15vh;
    width: 100vw;
    height: 70vh;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    
    z-index: 1;
    transition: z-index 250ms;
    animation: fadeIn 1s;

    .Slider {
        border: 0.1rem solid #98a70f;
        border-radius: 2rem;
       
        position: absolute;
        width: 25rem;
        height: 25rem;
        z-index: 0;
        opacity: 0;
        transform: scale(0);
        transition: 500ms;
        display: flex;
        flex-direction: row;
        margin-left: 12vw;
        &.hideleft {
            z-index: 0;
            transform: translateX(-50%) scale(0);


        }

        &.prev {
            z-index: 1;

            opacity: 0.7;
            transform: translateX(-25%) scale(0.8);

        }

        &.selected {
            z-index: 2;

            opacity: 1;
            transform: translateX(0%) scale(1);
            cursor: grab;

        }

        &.next {
            z-index: 1;

            opacity: 0.7;
            transform: translateX(25%) scale(0.8);

        }

        &.hideRight {

            transform: translateX(50%) scale(0);


        }
    }

}
.clicker{
    background-color: transparent;
    text-decoration: none;
    display: block;
    width: 11rem;
    height: 3rem;
    border-image: linear-gradient(transparent 20%, #98a70f) 10;
    color: white;
    font-family: Lexend;
    font-size: 1.3rem;
    transition: 300ms;
    &:hover{
        border-image: linear-gradient(transparent 1%, #98a70f) 10;
        transform: scale(1.02);
        background-color: #5b5b1765;
    }
  
}





.pics {
    width: 100%;
    height: 100%;


   

}
.texts{
    
    margin-top: 0vh;
    margin-left: 50vw;
    position: absolute;
    width: 40vw;
    height: 40vh;
   
    z-index: 0;
    
   .infos{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    div{
        display: flex;
        flex-direction: row;
        gap: 2vw;
   
    }
   }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}