.homeCon {

    width: 100vw;
    height: 100vh;
    position: absolute;
    background: url(../../assets/wllp1.png);
    background-size: 100% 100%;

}

.welcome {
    display: inline-block;
    width: 80vw;
    height: 40vh;
    margin-left: 19.35vw;
    position: absolute;
    animation: left-to-right 5s;
    
}

.wlc {
    margin-left: 0;
    color: #FFFFFFCC;
    font-size: 2.89vw;
    letter-spacing: 0.3rem;
}

.to {
    margin-left: 10vw;
    font-size: 5vw;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(115, 106, 22);
    letter-spacing: 1vw;

}

@keyframes moveUp {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }




    100% {
        opacity: 1;
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        scale: 0.8;
    }

    50% {
        opacity: 0.8;
        scale: 1;
    }

    100% {
        opacity: 0
    }

}

@keyframes fade_down_intro {
    0% {
        opacity: 0;
        scale: 0.9;
    }

    70% {
        opacity: 0.8;
    }

    90% {

        scale: 0.95;
    }

    100% {
        opacity: 0
    }
}

@keyframes falldown {
    0% {
        margin-top: -15vh;
    }

    80% {
        margin-top: -15vh;
    }

    100% {
        margin-top: 0;
    }
}

@keyframes left-to-right {
    0% {
        margin-left: -100vw;
        
    }

    70% {
        margin-left: -100vw;
    }

    100% {
        margin-left: 19.35vw;
        
    }
}

.cas {
    opacity: 0;
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 20vh;
    text-align: center;
    margin-top: 35vh;
    color: white;
    font-size: 5vw;
    animation: fade-down 5s;
    font-family: 'Lexend', sans-serif;

}

.txt {
    letter-spacing: 2rem;
}

.intro {
    opacity: 0;
    position: absolute;
    // display: flex;
    text-align: center;
    width: 100vw;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(115, 106, 22);

    font-size: 1.2rem;
    // animation: fade_down_intro 4s;
    margin-top: 70vh;
    overflow: hidden;
    animation: fade_down_intro 4s;

}

.navAnim {
    animation: falldown 5s;
    position: absolute;
    width: 100vw;
    height: 100%;

}

.welcome {
    width: 80vw;
    height: 40vh;
    margin-left: 19.35vw;
    position: absolute;
    animation: left-to-right 5s;
    margin-top: 30vh;
}

.wlc {
    margin-left: 3vw;
    color: #ffffffcc;
    font-size: 2.89vw;
    letter-spacing: 0.3rem;
}

.to {
    margin-left: 0vw;
    font-size: 5vw;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(115, 106, 22);
    letter-spacing: 1vw;

}

.footer_animation {
    animation: moveUp 6.4s;
}